.verify-all-details {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.verify-all-details .title {
	font-size: 38px;
	margin: 50px 0px;
}

.verify-all-details .details {
	display: flex;
	justify-content: center;
	padding: 50px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	width: 45%;
}

table {
	width: 100%;
}

table th {
	text-align: left;
	padding: 10px 0px;
}

table .details-title {
	text-align: left;
}

table .details-des {
	text-align: right;
	padding: 10px 0px;
}

@media screen and (max-width: 900px) {
	.verify-all-details .details {
		width: 70%;
	}
}

@media screen and (max-width: 46.1875em) {
	.verify-all-details .details {
		width: 80%;
		padding: 30px;
	}
}

@media screen and (max-width: 600px) {
	.verify-all-details .details {
		width: 90%;
		padding: 30px;
	}
}

.edit-input {
	border: 1px solid lightgray;
	border-radius: 4px;
	padding: 5px;
	width: 200px;
  }
  
  .edit-input:focus {
	outline: none;
	border-color: blue;
  }
  .title-mobile {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	display: none; /* Ẩn tiêu đề trên chế độ desktop */
  }
  
  .title-desktop {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	display: block; /* Hiển thị tiêu đề trên chế độ desktop */
  }
  
  /* Media query để áp dụng kiểu chữ cho chế độ điện thoại */
  @media only screen and (max-width: 600px) {
	.title-mobile {
	  display: block; /* Hiển thị tiêu đề trên chế độ điện thoại */
	}
	
	.title-desktop {
	  display: none; /* Ẩn tiêu đề trên chế độ desktop */
	}
  }
  